# Lab: 12 - Data Analysis with Pandas

## bike-stats

### Ali Rahhal / 9-8-2021

In [10]:
import pandas as pd
import numpy as np
df_station = pd.read_csv("./archive//station.csv")
df_weather = pd.read_csv("./archive/weather.csv")
df_trip = pd.read_csv("./archive/trip.csv",error_bad_lines=False)

/home/ali-rahhal/ASAC/401/Labs/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

1- What is the average trip duration for a borrowed bicycle?

In [11]:
avg_trip =df_trip['tripduration'].mean()
avg_trip

1178.2956753399776

2- What’s the most common age of a bicycle-sharer?

In [12]:
most_common_age =df_trip['birthyear'].value_counts().idxmax()
most_common_age = 2021 - most_common_age
most_common_age

34.0

3- Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [4]:
df_weather['month'] = pd.DatetimeIndex(df_weather['Date']).month
average_precipitation_per_month=df_weather.groupby(['month']).mean()[['Precipitation_In']]
median_precipitation_per_month= df_weather.groupby(['month']).median()[['Precipitation_In']]
print(average_precipitation_per_month)
median_precipitation_per_month

       Precipitation_In
month
1              0.143548
2              0.168421
3              0.156935
4              0.051333
5              0.012419
6              0.030500
7              0.012097
8              0.018226
9              0.041000
10             0.189000
11             0.187833
12             0.236290

       Precipitation_In
month
1                 0.020
2                 0.040
3                 0.025
4                 0.000
5                 0.000
6                 0.000
7                 0.000
8                 0.000
9                 0.000
10                0.040
11                0.035
12                0.100

4- What’s the average number of bikes at a given bike station?

In [5]:
avg_bikes_given=df_station.install_dockcount.mean()
avg_bikes_given

17.586206896551722

5- When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [6]:
difference_num_of_bikes=df_station["current_dockcount"].sum() - df_station["install_dockcount"].sum()
difference_num_of_bikes

-62

6- Come up with 3 more questions that can be answered with this data set.

get number of trip per month

In [7]:
df_trip['month'] = pd.DatetimeIndex(df_trip['starttime']).month
average_trip_per_month=df_trip.groupby(['month']).count()['trip_id']
average_trip_per_month

month
1     19898
2     20446
3     26933
4     27802
5     26035
6     27547
7     32150
8     30239
9     13134
10    23775
11    22187
12    16711
Name: trip_id, dtype: int64

get the hiest min temperature

In [8]:
max_min_temperature_f=df_weather['Min_TemperatureF'].max()
max_min_temperature_f

70

get the date of hiest min temperature

In [9]:
date_max_min_temperature_f=df_weather[['Min_TemperatureF','Date']].max()[1]
date_max_min_temperature_f

'9/9/2015'